.row ul {
	list-style-type: none;
}

.row li {
  width: 5%;
  float: left;
}

img {
  border: 0 none;
  text-decoration: none;
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}