@(message: String)

@main(title = "about.") {
	<!DOCTYPE html>
 <head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/business-casual.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/about.css")">
</head>
<div class="container">
	<div class="row">
        <div class="box">
	        <div class="col-lg-12">
	            <hr>
	            <h2 class="intro-text text-center">Hello! I'm <strong>Jessica L&#234;!</strong></h2>
	            <hr>
	            <img class="img-responsive img-border img-left" src="@routes.Assets.at("img/selfie.jpg")">
	            <hr class="visible-xs">
	            <br>
	            <br>
	            <h3> When I was little, I always enjoyed solving problems, </h3>
	            <p>especially puzzles or math problems. I would spend a lot of my childhood always trying to conquer the next math safari adventure game. As I was growing up, I bounced around different career path ideas, but eventually knew that I had to somehow incorporate puzzle solving into my career.</p>
	            <p>Everyone wants to be able to pursue their hobbies as a job, and luckily for me, that is what coding is to me. I get to solve puzzles all day long - and to top it off- making a living off of it! Unfortunately, this realization did not come to me until I was a junior attending the University of Iowa, while pursing my mathematics degree. I was beginning to resent math due to the abstractness and my failure to see the practicality of it. I needed something more concrete, and luckily, to my salvation, I was forced to take a computer science fundamentals course in order to satisfy my mathematics degree requirements... and I fell in LOVE. What enticed me the most is that I am able to incorporate my math and problem solving skills into something practical! Ever since then the puzzle pieces fell together, and <b>I knew that I wanted to become a <a href='./work'>developer.</a> </b>
	            </p>	
	            <p> When I'm not at work or developing side projects on my own, I practice <b>yoga</b> as much as I can. I usually prefer hot or bikram yoga, but love trying different styles of yoga, such as ashtanga or acrobatic.  The mat is where I feel the most free and self aware, and it is where I can be the most honest with myself. A day or two without being on my mat hinders my connection with my self awareness. Someday I plan on becoming a Registered Yoga Teacher and be able to teach and share my love for yoga with my fellow yogis.</a>
	            </p>
	            <p> When I'm not coding or on my mat, I love to explore new recipes. I'm a huge <b>foodie</b>, so I love giving my tastebuds a pleasurable and diverse experience as often as I can! I am still trying to master the art of cooking Vietnamese food, but since I have the best teacher I could ask for (my mom), I think there's a slight chance it could happen!
	            </p>
	            <br>

	            <p> Enough rambling about me...for now! If you would like to know more about me or collaborate with me on projects, feel free to contact me via any of my social media or email! I would love to hear from you! Namaste.</p>
	            <br>
	        	<div class ="row">
	        		<ul>
	    			<li><a href="http://www.instagram.com/lovelejess"><img class="img-responsive inline-block" src="@routes.Assets.at("img/webicons/Instagram.png")"></a></li>
	        		<li><a href="http://www.twitter.com/lovelejess"><img class="img-responsive inline-block" src="@routes.Assets.at("img/webicons/twitter.png")"></a></li>
	        		<li><a href="http://www.facebook.com/lovelejess"><img class="img-responsive inline-block" src="@routes.Assets.at("img/webicons/facebook.png")"></a></li>
	        		<li><a href="http://www.linkedin.com/in/lejessica"><img class="img-responsive inline-block" src="@routes.Assets.at("img/webicons/linkedin.png")"></a></li>
	        		<li><a href="http://www.github.com/lovelejess"><img class="img-responsive inline-block" src="@routes.Assets.at("img/webicons/Github.png")"></a></li>
	        	</ul>
	        </div>
		</div>
	</div>
</div>
<hr>
}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49936424-2', 'auto');
  ga('send', 'pageview');

</script>